<<div>
  <%= will_paginate @articles %>
</div>

<% articles.each do |article| %>
  <div class="article">
    <h3><%= link_to article.title, article %></h3>
    <i>Author: <%= article.author.username %> | Created: <%= article.created_at %></i>
    <p class="body-text"><%= article.body %></p>
    <p><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% if policy(article).update? %>
      <%= link_to "Edit", edit_article_path(article) %> |
    <% end %>

    <% if policy(article).destroy? %>
      <%= link_to "Destroy", article_path(article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

<<div>
  <%= will_paginate @articles %>
</div>



<style>
    .article {
        border-left: 5px solid cornflowerblue;
        padding-left: 10px;
        background: #cfdaec;
    }

    .body-text{
        background: #bdcfee;
    }
</style>
