<h1><%= @article.title %></h1>
<p>
  <strong>Author:</strong>
  <%= @article.author.username %>
</p>
<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<% pre_like = @article.likes.find { |like| like.account_id == current_account.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', article_like_path(@article, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', article_likes_path(@article), method: :post %>
<% end %>
<p><%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
